<div fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card class="book-card" *ngFor="let book of books">
    <img mat-card-image class="book-img" src="{{book.image}}" alt="book cover">

    <mat-card-header fxLayout="column" fxLayoutAlign="space-evenly center">
      <mat-card-title>{{book.title}}</mat-card-title>
      <mat-card-subtitle class="book-subtitle" >{{book.author}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <section> R$ {{ book.price | number:'1.2-2' }} </section>

      <mat-card-actions fxLayout="row" fxLayoutAlign="center end">

        <!--Button temporário aqui, essa ação deve ser feita por um button do menu-->
        <button mat-raised-button  (click)="changeDisplayOfButtons()">
          {{ changeButtonText }}
        </button>

        <button mat-raised-button color="basic" (click)="openSynopsis(this.book)"  *ngIf="showButtons1">
          <mat-icon>class</mat-icon>
          Sinopse
        </button>

        <button mat-raised-button color="accent" *ngIf="showButtons1">
          <mat-icon>favorite</mat-icon>
          Comprar
        </button>


        <button mat-raised-button color="primary" (click)="openEditDialog(this.book)" *ngIf="showButtons2">
          <mat-icon>edit</mat-icon>
          Editar
        </button>

        <button mat-raised-button color="warn" (click)="remove(book)" *ngIf="showButtons2">
          <mat-icon>delete</mat-icon>
          Remover
        </button>

      </mat-card-actions>

    </mat-card-content>
  </mat-card>
</div>
