<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
  <mat-card class="book-card" *ngFor="let book of books">
    <img mat-card-image src="{{book.image}}" alt="book cover">

    <mat-card-header fxLayout="column" fxLayoutAlign="space-evenly center">
      <mat-card-title>{{book.title}}</mat-card-title>
      <mat-card-subtitle class="book-subtitle" >{{book.author}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <section> R$ {{ book.price | number:'1.2-2' }} </section>

      <mat-card-actions fxLayout="column">
        <button mat-raised-button color="primary" (click)="teste()">
          <mat-icon>favorite</mat-icon>
          Comprar
        </button>

        <!--
        <button mat-raised-button matTooltip="{{book.synopsis}}" aria-label="button that displays the synopsis when focused or hovered over">
          <mat-icon>book</mat-icon>
          Sinopse
        </button>

        <button (click)="openSinopsys()" >Sinopse</button>
        -->


        <button mat-raised-button color="primary" (click)="editar(book)">
          <mat-icon>edit</mat-icon>
          Editar
        </button>

        <button mat-raised-button color="primary" (click)="deletar(book)">
          <mat-icon>delete</mat-icon>
          Remover
        </button>

      </mat-card-actions>

    </mat-card-content>
    <!--
      <mat-card-actions>


        <input placeholder="Editar  título" [(ngModel)]="renameTitle"><br>
        <input  placeholder="Editar autor" [(ngModel)]="renameAuthor"><br>
        <input placeholder="Editar sinopse"  [(ngModel)]="renameSynopsis"><br>

        <button  mat-raised-button color="warn" (click)="editBook(book)">Editar</button>
        <button  mat-raised-button color="basic" (click)="deleteBook(book)">Deletar</button>

      </mat-card-actions>
      -->

  </mat-card>
</div>
