.book-card {
  border-radius: 20px;
  background-color: rgba(217, 213, 217, 0.84);
  font-size: 18px;
  margin:10px;
  padding-top: 40px;
  text-align: center;
  align-items: center;
}

.book-subtitle{
  color: black;
  margin-bottom: 10px;
}

.book-img{
  height: 300px;
  width: auto;
}
