*{
  justify-content: center;
  align-items: center;

}

.inicio{
  background-color: #ffffff;
  margin: 10px 30px 10px 30px;
}

app-book-list{
  display: grid;
  grid-template-columns: auto auto;
}



