
*{
  justify-content: center;
  align-items: center;
}

.container-begin{
  background-color: #ffffff;
  margin:2% 8% 2% 8%;
}

app-book-list{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

