<div class="menu-container"  fxLayout="row" fxLayoutAlign="space-between none">
    <div>
        Booklog <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/book-register']">Cadastrar Livros</button>
            <button mat-menu-item [routerLink]="['/book-list']">Listar Livros</button>
        </mat-menu>
    </div>

    <div fxLayout="row" fxLayoutAlign="end" >
        <button mat-icon-button><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle" ></mat-icon></button>
        <div class="text-welcome">
            Olá, bem vindo(a)!
            <p style="font-size: 12px;"> Entre ou cadastre-se.</p>
        </div>

        <button mat-icon-button><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart"></mat-icon></button>

    </div>
    <!--
    <button mat-raised-button style="background-color: #89909f; color: beige">Modo Administrador</button>
    -->
</div>