mat-card {
  border-radius: 20px;
  background-color: rgba(217, 213, 217, 0.84);
  font-size: 18px;
  margin:10px;
  padding: 40px;
}

mat-card-subtitle{
  color: black;
}

mat-card-content{
  padding: 15px;
}

button{
  padding:10px;
  margin:10px;
}
