<div fxLayout="column" fxLayoutAlign="space-around center" class="register-book">

  <h1 class="register-book-subtitle">Cadatro de Livro</h1>

    <mat-form-field appearance="fill">
      <mat-label>Escreva o título</mat-label>
      <input matInput placeholder="Título:" [(ngModel)]="book.title"><br>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Escreva o autor</mat-label>
      <input matInput placeholder="Autor:" [(ngModel)]="book.author"><br>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Escreva a sinopse</mat-label>
      <textarea rows = "8" matInput placeholder="Sinopse:" [(ngModel)]="book.synopsis"></textarea>
    </mat-form-field>

    <mat-form-field class="mat-form-principal">
      <mat-label>Escreva o preço</mat-label>
      <input matInput placeholder="Preço:" [(ngModel)]="book.price"><br>
    </mat-form-field>

    <mat-form-field class="mat-form-principal">
      <mat-label>Escreva a URL da Capa</mat-label>
      <input matInput placeholder="URL:" [(ngModel)]="book.image"><br>
    </mat-form-field>


  <div mat-dialog-actions style="justify-content: center">
    <button class="button-book-register" mat-raised-button color="warn" (click)="insertBook()">Cadastrar Livro</button>
  </div>
</div>