*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: inline;
}

.register-book{
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 20px #4b4646;
  font-size: 18px;
  padding: 40px;
  margin: 2% 20% 2% 20%;
}

mat-form-field{
  width: 80%;
}
.register-book-subtitle{
  font-family: 'Merriweather', serif;
  font-size: 28px;
}

.button-book-register{
  width: 300px;
  align-content: center;
  font-size: 18px;
}


